/* === MOBILE BURGER NAV === */
@media (max-width: 768px) {
    .newsHeader {
        display:  none;
    }

    .navContainer {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        background-color: #261C24;
        transform: none;
        border-radius: 0;
        margin-bottom: 80px;
    }

    .logo {
        display: none;
    }

    .logo:hover {
        transform: none;
    }

    .navLink {
        display: none;
    }

    .burger {
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px;
    }

    .burger:hover {
        background-color: #41323d;
    }

    .bar {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 2px 0;
        border-radius: 10px;
    }

    .bar:nth-child(2) {
        width: 15px;
        height: 2px;
        background-color: white;
        margin: 3px 0;
        border-radius: 3px;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1E181D;
        color: white;
        padding: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10002;
        height: 100vh;           
        max-width: 50vw;      
        min-width: 290px;         
    }

    .mobileMenu.open {
        transform: translateX(0);
    }

    .mobile_btn {
      background: none;
    }

    .mobileMenu .close {
        font-size: 24px;
        cursor: pointer;
        text-align: left;
        margin-top: -8px;
    }

    .mobileLogo {
        width: 80px;
        margin: 20px auto;
        display: block;
    }

    .mobileMenu ul {
        list-style: none;
        padding: 0;
    }

    .mobileMenu ul li {
        font-size: 16px;
        font-weight: bold;
        padding: 15px 15px;
    }

    .mobileMenu ul li:hover {
        font-size: 16px;
        font-weight: bold;
        background-color: #2C2029;
        padding: 15px 15px;
        border-radius: 15px;
    }

    .mobileMenu a {
        color: white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    #mobileDropdownLinks {
        margin-top: 20px;
    }

    .mobileDropdownLinks {
        display: none;
        font-weight: normal;
    }

    ul #mobileDropdownLinks {
        background-color: #1E181D;
    }

    .mobileDropdown.open .mobileDropdownLinks {
        display: block;
        background-color: #1E181D;
        margin:0 ;
    }

    .mobileDropdown {
        margin: 0;
    }

    .mobile_btn {
        margin: 0;
        font-size: 16px;
        padding: 0;
        font-weight: bold;
    } 

    .btn {
        padding: 12px;
        border-radius: 10px;
        text-decoration: none;
        display: block;
        justify-content: center;
        gap: 10;
        font-weight: bold;
    }

    .btn.twitch {
        background-color: #9146FF;
        color: white;
        margin-top: 30px;
    }

    .btn.discord {
        background-color: #5865F2;
        color: white;
        margin-top: 20px;
    }

    .btn:hover {
        background-color: red;
    }
}