/*CSS Mobile + Tablette *

/*-- MOBILE // SMALL --*/
  @media screen and (max-width: 600px) { 
/* -- SECTION --*/
h1 {
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 45px;
    margin-top: 70px;
}

h2 {
   font-size: 35px;
   padding: 15px;
   width: auto; 
}

.logo {
    margin-left: 15px;
}

.canvas {
    height: 380px; /* Hauteur du header */
    object-fit: none;
}


.navLink {
   display: none;
}


.sectionContainer { /* ✅ */
    display: flex;
    flex-direction: column-reverse;
    margin: 45px 0 45px;
    width: 100%;
}

.aboutTxt {
    margin-left: 0;
}
.discordTxt {
    margin-right:0;
}

.textInfos {
    text-align: left;
    font-size: 20px;
    line-height: 160%;
    width: auto;
    padding: 15px;
    margin-bottom: 0;
}

.ubouxIllustration, .discordIllustration {
    margin-top: -90px;
    margin-bottom: -90px;
}

.test {
    display: inline;
}

.discord-btn { /* Bouton Discord ✅ */
    background-color: #7289DA;
    margin-bottom: 45px;
    float: none;
    }

.customShape {
    display: none;
}


#twitch-embed {
    width: 370px; /* Largeur maximale du conteneur */
    height: 208px; /* Hauteur maximale du conteneur */
    margin-top: -60px;
}


/*-- planning --*/
.planning {
    display: flex;
    flex-direction: column;
}

#weekContainer {
        overflow-x: auto; /* Ajoute un overflow horizontal */
    white-space: nowrap; /* Empêche les éléments de se plier à la ligne suivante */
    padding-bottom: 10px; /* Espace pour le défilement si besoin */
}
/*-- TABLETTE  // MEDIUM --*/ 
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .burger {
        display: none;
    }

    .customShape {
        display: none;
    }

    
    
  }
  

  /*-- DESKTOP // LARGE --*/
  @media only screen and (min-width: 1025px) {
    /* Styles spécifiques pour les grands écrans (par exemple, ordinateurs de bureau) */
    .burger {
        display: none;
    }
}}